<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            vertical-align: top;
            margin: 0;
            box-sizing:border-box;
            padding: 0;
        }
    </style>
</head>

<body>
    <h2> you have reached the index</h2>
    <h3> here is index of all current web pages</h3>
    
    <h4> <a href="/i_can_type_any_random_stuff_here"> 
            about
    </a></h4>
    <h4> <a href="/just_keep_it_same_in_anchor_tags_too"> 
        home
</a></h4>
    <!-- <h4> <a href="/home"> 
            home
    </a></h4> -->
    <!-- <h4> index</h4>
    <h4> about</h4> -->
    <script>
        
    </script>
</body>

</html>